body{
    background-color: #333;
    overflow: hidden;
}
.logo{
 display: block;
 margin: auto;
 margin-bottom: 20px;
 width: 250px;
 height: 100px;
}
.contenedor{
    text-align: center;
    margin: 0 auto;
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.contenedor input{
    text-align: center;
}
.contenedor button{
    margin-top: 20px;
    margin-bottom: -30px;
}
.pokemon{
    width: 150px;
    height: 150px;
    margin: 40px auto;
    display: inline-block;
}
p{
    margin-top: -60px;
}